.HomeBanner {
    max-width: 100%;
    width: 60vw;
    margin: auto;
}

.ActionBoxContainer {
    margin-top: 20vh;
}

@media (max-width: 1200px) {
    .HomeBanner {
        text-align: center;
    }
    .ActionBoxContainer {
        margin-top: 7vh;
    }
}